@import "src/assets/styles/_variables/fonts/index";
@import "src/assets/styles/_variables/colors/index";
@import "src/assets/styles/_mixins/themes/index";

.app-main {
  min-height: 100vh;
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: $font-family-roboto, $font-family-sans-serif;
  transition: .3s all;

  & > * {
    transition: .3s all;
  }

  @include light {
    background-color: $color-white-1;
    color: $color-blue-1;
  }

  @include dark {
    background-color: $color-blue-1;
    color: $color-white-1;
  }
}

.container {
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
}
