.home-page__social-list {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  max-width: 400px;
  margin: 0 auto;

  a {
    align-self: center;

    picture {
      img {
        width: 30px;
      }
    }
  }
}
