@use "@/assets/scss/_global/colors" as colors;
@use "@/assets/scss/_ui/font-family" as font-family;

@mixin input-primary {
  font-family: font-family.$montserrat;
  padding: 15px;
  font-size: 16px;
  color: colors.$base-color-white-primary;
  border: 1px solid colors.$base-color-white-primary;
}
