@use "@/assets/scss/_ui/titles" as titles;
@use "@/assets/scss/_global/colors" as colors;
@use "@/assets/scss/_global/breakpoints" as breakpoints;

.projects-list {
  margin: 0 0 130px;
  min-height: 200px;

  &:deep(.button) {
    margin: 0 auto;
  }

  &__title {
    @include titles.title-primary;
  }

  &__items {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    gap: 27px;
    margin: 0 0 37px;

    &-point {
      box-shadow: 10px 10px 10px 0 rgb(0 0 0 / 15%);
      background: colors.$base-color-gray-primary;
      border-radius: 6px;
      max-width: 536px;
      width: 536px;

      @media screen and (max-width: breakpoints.$xl) {
        max-width: 466px;
        width: 466px;
      }

      @media screen and (max-width: breakpoints.$lg) {
        max-width: 346px;
        width: 346px;
      }

      @media screen and (max-width: breakpoints.$md) {
        max-width: 100%;
        width: 100%;
      }

      .list-item {
        &__info {
          padding: 26px;

          &-title {
            & > h2 {
              font-weight: 600;
              font-size: 18px;
              line-height: 24px;
              text-transform: capitalize;
              margin: 0 0 15px;

              & > a {
                color: colors.$base-color-white-secondary;
              }
            }
          }

          &-demo-link {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 5px;
            margin: 0 0 20px;

            & > p {
              margin: 0;
              color: colors.$base-color-white-secondary;
              font-weight: 600;
              font-size: 14px;
              line-height: 18px;
            }

            & > a {
              color: colors.$base-color-white-secondary;
              font-weight: 600;
              font-size: 14px;
              line-height: 18px;
            }
          }

          &-tags {
            display: flex;
            flex-flow: wrap;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            &-item {
              padding: 8px 16px;
              background: colors.$base-linear-gradient-primary;
              border-radius: 4px;
              font-weight: 500;
              font-size: 10px;
              line-height: 14px;
              letter-spacing: 0.12em;
              text-transform: uppercase;
              color: colors.$base-color-gray-primary;
            }
          }

          &-description {
            & > p {
              font-weight: 400;
              font-size: 14px;
              line-height: 18px;
              letter-spacing: 0.04em;
              color: colors.$base-color-white-primary;
            }
          }
        }
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
  }
}
