@use "@/assets/scss/_global/colors" as colors;

.contact-form {
  &__field {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin: 0 0 20px;

    &:last-child {
      margin: 0;
    }
  }

  &__status {
    font-size: 18px;
    text-align: center;
    margin: 15px 0 0;

    &_success {
      color: colors.$base-color-success;
    }

    &_error {
      color: colors.$base-color-error;
    }
  }

  &__error {
    text-align: right;
    margin: 0;
    color: colors.$base-color-error;
  }
}
