@import "@/assets/scss/_global/colors";

.app-layout {
  background: $base-color-layout-bg;
  overflow-x: hidden;
  position: relative;

  .scroll-top {
    position: fixed;
    right: 50px;
    bottom: 50px;
  }
}
