$base-color-layout-bg: #041F31;
$base-color-white-primary: #BDEBEA;
$base-color-white-secondary: #D9F2F2;
$base-color-black-primary: #000000;
$base-color-red-primary: #DC143C;
$base-color-green-primary: #00F5A0;
$base-color-blue-primary: #00D9F5;
$base-color-gray-primary: #222525;
$base-color-gray-secondary: #252728;
$base-color-pink-primary: #b2b2b2;
$base-color-transparent: rgba(255, 255, 255, 0);
$base-color-success: #51A351;
$base-color-info: #2F96B4;
$base-color-warning: #F89406;
$base-color-error: #E34040;
$base-linear-gradient-primary: linear-gradient(90deg, $base-color-green-primary 0%, $base-color-blue-primary 100%);
$base-linear-gradient-secondary: linear-gradient(0deg, $base-color-green-primary 0%, $base-color-blue-primary 100%);
$base-linear-gradient-tertiary: linear-gradient(90deg, $base-color-blue-primary 0%, $base-color-green-primary 100%);
