@use "./container";
@use "./animations";
@use "./breakpoints";
@use "@/assets/scss/_ui/font-family" as font-family;
@use '@/components/icons/styles/icons';

:root {
  font-family: font-family.$montserrat;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

html, body {
  height: 100%;
  min-width: 320px;
}

html {
  &.page-locked {
    overflow: hidden;
  }
}
