@use "@/assets/scss/_global/colors" as colors;
@use "@/assets/scss/_ui/font-family" as font-family;
@use "@/assets/scss/_ui/mixins/buttons" as buttons;
@use "@/assets/scss/_global/breakpoints" as breakpoints;

.button {
  border: none;
  text-decoration: none;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &.button-uppercase {
    text-transform: uppercase;
  }

  &.button-primary {
    @include buttons.button-primary;
  }

  &.button-primary-with-icon {
    @include buttons.button-primary;

    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-items: center;
    justify-items: center;
  }

  &.button-danger {
    @include buttons.button-danger;
  }

  &.button-soon {
    cursor: not-allowed;

    &::after {
      content: 'SOON';
      display: flex;
      align-content: center;
      justify-content: center;
      position: absolute;
      font-size: 12px;
      color: colors.$base-color-white-primary;
      background-color: colors.$base-color-red-primary;
      padding: 0 3px;
      border-radius: 5px;
      right: -8px;
      bottom: -8px;
      transform: rotate(-15deg);
    }
  }

  &.button-to-top {
    font-family: font-family.$montserrat;
    background: colors.$base-linear-gradient-primary;
    border-radius: 50%;
    padding: 12px 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: colors.$base-color-gray-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;

    @media screen and (max-width: breakpoints.$md) {
      display: none;
    }

    &:hover {
      background: colors.$base-linear-gradient-tertiary;
    }

    & > .icon-wrapper {
      transform: rotate(180deg);
      width: 24px;
      height: 24px;

      svg {
        width: 32px;
        height: 32px;
      }
    }
  }
}
