@import "src/assets/scss/_ui/font-family";
@import "src/assets/scss/_ui/mixins/buttons";

.button {
  border: none;
  text-decoration: none;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &.button-primary {
    @include button-primary;
  }

  &.button-primary-with-icon {
    @include button-primary;

    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-items: center;
    justify-items: center;
  }

  &.button-danger {
    @include button-danger;
  }

  &.button-soon {
    cursor: not-allowed;

    &::after {
      content: 'SOON';
      display: flex;
      align-content: center;
      justify-content: center;
      position: absolute;
      color: #FFF;
      font-size: 12px;
      background-color: crimson;
      padding: 0 3px;
      border-radius: 5px;
      right: -8px;
      bottom: -8px;
      transform: rotate(-15deg);
    }
  }
}
