@import "@/assets/scss/_ui/font-family";
@import "@/assets/scss/_ui/mixins/inputs";

.input {
  border: 1px solid $base-color-black-primary;
  background-color: $base-color-transparent;
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  &::placeholder {
    color: $base-color-pink-primary;
  }

  &-primary {
    @include input-primary;
  }

  &_resize-disabled {
    resize: none;
  }
}
