@import "@/assets/scss/_ui/font-family";
@import "@/assets/scss/_ui/mixins/inputs";

.input {
  border: 1px solid #000;
  background-color: transparent;
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  &::placeholder {
    color: #b2b2b2;
  }

  &-primary {
    @include input-primary;
  }

  &_resize-disabled {
    resize: none;
  }
}
