@use "@/assets/scss/_global/colors" as colors;

.main-footer {
  &__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: colors.$base-color-white-primary;
    text-transform: uppercase;
  }
}
