@use "@/assets/scss/_global/colors" as colors;

.app-layout {
  &__navigation {
    &_header {
      nav {
        ul {
          display: flex;
          column-gap: 15px;
          padding: 0;

          li {
            list-style: none;

            a {
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
              color: colors.$base-color-white-primary;
              text-decoration: none;
              position: relative;
              transition: 0.3s color;

              &::after {
                content: "";
                display: block;
                height: 2px;
                width: 0;
                transition: width .3s, height .3s;
                background: colors.$base-linear-gradient-primary;
                border-radius: 2px;
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                top: 25px;
              }

              &.active-link {
                color: colors.$base-color-green-primary;

                &::after {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }

    &_footer {
      margin: 0 0 50px;

      nav {
        ul {
          display: flex;
          column-gap: 48px;
          padding: 0;

          li {
            list-style: none;

            a {
              font-weight: 400;
              font-size: 14px;
              line-height: 17px;
              color: colors.$base-color-white-primary;
              text-decoration: none;
              transition: 0.3s color;

              &.active-link {
                color: colors.$base-color-green-primary;
              }
            }
          }
        }
      }
    }
  }
}
