@use "@/assets/scss/_global/colors" as colors;
@use "@/assets/scss/_global/breakpoints" as breakpoints;

.home-hero {
  margin: 150px 0 200px;

  @media screen and (max-width: breakpoints.$lg) {
    margin: 50px 0 100px;
  }

  & > .container {
    display: flex;
    flex-direction: row;
    column-gap: 85px;
    align-items: center;
    margin: 0 auto 105px;

    @media screen and (max-width: breakpoints.$lg) {
      flex-direction: column-reverse;
      column-gap: 0;
      row-gap: 50px;
    }

    & > div {
      flex-grow: 1;
      flex-basis: 0;

      @media screen and (max-width: breakpoints.$lg) {
        &:first-child {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      &:last-child {
        display: flex;
        justify-content: center;
      }
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: colors.$base-color-white-secondary;
    margin: 0 0 10px;
  }

  /* stylelint-disable */
  &__title {
    font-weight: 600;
    font-size: 68px;
    line-height: 88px;
    background: colors.$base-linear-gradient-primary;
    -webkit-background-clip: text;
    -webkit-text-fill-color: colors.$base-color-transparent;
    text-fill-color: colors.$base-color-transparent;
    margin: 0 0 20px;

    @media screen and (max-width: breakpoints.$xl) {
      font-size: 58px;
    }

    @media screen and (max-width: breakpoints.$lg) {
      font-size: 48px;
    }

    @media screen and (max-width: breakpoints.$sm) {
      font-size: 32px;
    }
  }
  /* stylelint-enable */

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: colors.$base-color-white-primary;
    margin: 0 0 30px;

    @media screen and (max-width: breakpoints.$lg) {
      text-align: center;
    }
  }

  &__main-picture {
    img {
      width: 400px;
      height: 400px;
      border-radius: 50%;
      box-shadow: 20px 20px 20px -10px rgb(0 0 0 / 25%);

      @media screen and (max-width: breakpoints.$lg) {
        width: 300px;
        height: 300px;
      }

      @media screen and (max-width: breakpoints.$sm) {
        width: 250px;
        height: 250px;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
  }

  &__arrow-button {
    background: colors.$base-color-transparent;
    border: none;
  }

  &__arrow {
    width: 32px;
    height: 32px;

    &:deep(svg) {
      width: 32px;
      height: 32px;
    }
  }
}
