@use "@/assets/scss/_ui/titles" as titles;
@use "@/assets/scss/_global/colors";
@use "@/assets/scss/_global/breakpoints" as breakpoints;

.home-skills {
  margin: 0 0 150px;

  @media screen and (max-width: breakpoints.$xl) {
    margin: 0 0 100px;
  }

  &__title {
    @include titles.title-primary;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    gap: 76px;

    @media screen and (max-width: breakpoints.$xl) {
      gap: 90px;
    }

    @media screen and (max-width: breakpoints.$lg) {
      gap: 80px;
    }

    @media screen and (max-width: breakpoints.$md) {
      gap: 20px;
    }

    @media screen and (max-width: breakpoints.$sm) {
      column-gap: 42px;
      row-gap: 20px;
    }

    &-item {
      width: 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .list-item {
        &__picture {
          img {
            height: 120px;

            @media screen and (max-width: breakpoints.$xl) {
              height: 100px;
            }

            @media screen and (max-width: breakpoints.$lg) {
              height: 90px;
            }

            @media screen and (max-width: breakpoints.$md) {
              height: 80px;
            }
          }
        }

        &__title {
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 0.1354em;
          text-transform: uppercase;
          color: colors.$base-color-white-primary;
        }
      }
    }
  }
}
