@use "@/assets/scss/_ui/titles" as titles;
@use "@/assets/scss/_global/colors" as colors;

.home-about {
  margin: 0 0 130px;

  &__title {
    @include titles.title-primary;
  }

  &__description {
    max-width: 865px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: colors.$base-color-white-primary;
    padding: 0 0 0 20px;
    position: relative;
    margin: 0 0 30px;

    &::before {
      content: '';
      width: 5px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: colors.$base-linear-gradient-secondary;
      border-radius: 10px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
