@use "@/assets/scss/_ui/titles" as titles;
@use "@/assets/scss/_global/colors" as colors;

.experience-list {
  margin: 0 0 130px;

  &__items {
    &-point {
      position: relative;
      padding: 0 0 0 20px;
      margin: 0 0 80px;

      &:last-child {
        margin: 0;
      }

      &::before {
        position: absolute;
        top: 8px;
        left: 0;
        content: '';
        display: block;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: colors.$base-linear-gradient-primary;
      }

      .list {
        &-item {
          &__info {
            &-years {
              font-weight: 600;
              font-size: 18px;
              line-height: 26px;
              letter-spacing: 0.04em;
              color: colors.$base-color-white-primary;
            }

            /* stylelint-disable */
            &-name {
              font-weight: 600;
              font-size: 20px;
              line-height: 26px;
              letter-spacing: 0.04em;
              color: colors.$base-color-white-primary;
              background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 10%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: colors.$base-color-transparent;
              text-fill-color: colors.$base-color-transparent;
            }
            /* stylelint-enable */

            &-position {
              font-weight: 600;
              font-size: 18px;
              line-height: 26px;
              letter-spacing: 0.04em;
              color: colors.$base-color-white-primary;
            }

            &-description {
              position: relative;
              font-size: 16px;
              padding: 0 0 0 20px;
              line-height: 26px;
              color: colors.$base-color-white-primary;

              &::before {
                content: '';
                width: 5px;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: colors.$base-linear-gradient-secondary;
                border-radius: 10px;
              }
            }
          }
        }
      }
    }
  }
}
