@use "@/assets/scss/_global/colors" as colors;
@use "@/assets/scss/_ui/font-family" as font-family;
@use "@/assets/scss/_global/keyframes";
@use "@/assets/scss/_global/breakpoints" as breakpoints;

.toast-wrapper {
  position: fixed;
  right: 25px;
  bottom: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  z-index: 1200;

  @media screen and (max-width: breakpoints.$md) {
    width: max-content;
    right: 0;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
  }

  .toast-item {
    font-family: font-family.$montserrat;
    padding: 15px;
    background: colors.$base-color-white-primary;
    color: colors.$base-color-black-primary;
    border-radius: 5px;
    width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: relative;

    @media (any-hover: hover) {
      &:hover {
        cursor: pointer;
      }
    }

    @media screen and (max-width: breakpoints.$md) {
      width: 270px;
    }

    &__title {
      font-weight: 700;
      font-size: 16px;
    }

    &__text {
      font-size: 16px;
    }

    &__progress {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;

      & > div {
        background: rgb(0 0 0 / 30%);
        border-radius: 5px;
        height: 5px;
        animation: round-time calc(var(--duration) * 1s) linear forwards;
        transform-origin: left center;
      }
    }

    &_success {
      color: colors.$base-color-white-primary;
      background: colors.$base-color-success;
    }

    &_info {
      color: colors.$base-color-white-primary;
      background: colors.$base-color-info;
    }

    &_warning {
      color: colors.$base-color-white-primary;
      background: colors.$base-color-warning;
    }

    &_error {
      color: colors.$base-color-white-primary;
      background: colors.$base-color-error;
    }

    &.toast-slide-enter-active,
    &.toast-slide-leave-active {
      transition: all 0.5s ease;
    }

    &.toast-slide-enter-from,
    &.toast-slide-leave-to {
      opacity: 0;
      transform: translateX(80px);

      @media screen and (max-width: breakpoints.$md) {
        transform: translateY(80px);
      }
    }
  }
}
